---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

<section class="recent-posts row">

    <div class="col-sm-8">
        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% if post.categories contains "posts" %}
            
            {% if post.hidden == false %}
                {% include postbox.html %}
            {% endif %}


            {% endif %}

            {% endfor %}

        </div> 

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

    <div class="col-sm-4">
            {% include sidebar.html %}
    </div>

</section>