<canvas id="temp" width="800" height="450" style="padding-top: 10px; padding-bottom: 10px;"></canvas>

<script>
    function fetchJSONFile(path, id, type, callback) {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
            if (httpRequest.readyState === 4) {
                if (httpRequest.status === 200) {
                    var data = JSON.parse(httpRequest.responseText);
                    if (callback) callback(data, id, type);
                }
            }
        };
        httpRequest.open('GET', path);
        httpRequest.send();
    }

    function guidGenerator() {
        var S4 = function() {
            return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
        };

        return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
    }

    function onlyUnique(value, index, self) {
        return self.indexOf(value) === index;
    }

    function createChart(json, id, type) {

        var title = json.title
        var subTitle = json.subTitle
        var unit = json.unit

        var labels = json.series.map(function(e) {
            return e.data.map(function(d) {
                return d.x
            });
        });

        var series = json.series.map(function(e) {
            return e.serie
        });

        var obj = json.series.map(function(e) {
            return e
        });

        var cleanLabels = []
        labels.forEach(function (labelArray, i) {
            
            labelArray.forEach(function(label, j){
                cleanLabels.push(label);
            });            
        });

        cleanLabels = cleanLabels.filter(onlyUnique);

        var showTicks = false;
        legendPosition = 'top';
        if (type == "line") {
            showTicks = true;
        } else {
            legendPosition = 'bottom';

            if (cleanLabels.length > 1) {
                showTicks = true;
            }
        }
        
        const image = new Image();
        image.src = '/assets/images/watermark.png';

        const custom_canvas_background_color = {
            id: 'custom_canvas_background_color',
            beforeDraw: (chart, args, options) => {
                
                if (image.complete) {
                    const ctx = chart.ctx;
                    const {top, left, width, height} = chart.chartArea;
                    const x = left + width / 2 - image.width / 2;
                    const y = top + height / 2 - image.height / 2;
                    ctx.drawImage(image, x, y);
                } else {
                    image.onload = () => chart.draw();
                }

                const ctx = chart.canvas.getContext('2d');
                ctx.save();
                ctx.globalCompositeOperation = 'destination-over';
                ctx.fillStyle = '#333D4E';
                ctx.fillRect(0, 0, chart.width, chart.height);
                ctx.restore();
            },
        };

        colors = ['#5B9BD5', '#ED7D31', '#A5A5A5', '#FFC000', '#4472C4', '#70AD47', '#255E91', '#9E480E', '#636363', '#997300', '#264478', '#43682B', "#7CAFDD"]
        var type = "{{ include.type }}"
        
        
        var displayLabel = false;
        var tooltip = true;
        var axis = 'x';

        if (type == "bar") {
            displayLabel = true;
            tooltip = false;
        }

        if (type == "hbar") {
            displayLabel = true;
            tooltip = false;
            axis = 'y';

            type = "bar"; // set back to bar
        }

        var config = {
            type: type,
            data: {
                labels: cleanLabels,
                backgroundColor: colors,
            },
            plugins: [ChartDataLabels, custom_canvas_background_color],
            options: {
                indexAxis: axis,
                plugins: {
                    tooltip: {
                        enabled: tooltip
                    },
                    subtitle: {
                        display: true,
                        text: subTitle,
                        position: 'bottom',
                        color: '#ffffff',
                        font: {
                            size: 16,
                            style: 'italic'
                        },
                        padding: {
                            top: 10,
                            bottom: 10
                        }
                    },
                    datalabels: {
                        display: displayLabel,
                        formatter: function(value, context) {                           
                            return value + unit;
                        },
                        font: {
                            size: 10
                        },
                        color: '#ffffff',
                        anchor: 'end',
                        align: 'end',
                        offset: 10
                    },
                    legend: {
                        labels: {
                            color: '#ffffff',
                        },
                        display: true,
                        position: legendPosition
                    },
                    title: {
                        display: true,
                        text: title,
                        color: '#ffffff',
                        font: {
                            size: 26
                        }
                    },
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: '#ffffff'
                        }
                    },
                    x: {
                        grid: {
                            display: false
                        },
                        ticks: {
                            display: showTicks,
                            color: '#ffffff',
                            maxTicksLimit: 6,
                            maxRotation: 0,
                            minRotation: 0
                        }
                    }
                },
            },
        };

        var ctx = document.getElementById(id).getContext("2d");
        var chart = new Chart(ctx, config);

        
        var dataArray = [];
        obj.forEach(function (value, i) {
            
            values = value.data.map(function (e) {
                dataArray.push(e.y);
                return e.y
            });

            if (type == 'bar' || type == 'hbar') {
                chart.data.datasets.push({
                    backgroundColor: colors[i],
                    label: value.serie,
                    data: values
                });
            } else {
                chart.data.datasets.push({
                    backgroundColor: colors[i],
                    borderColor: colors[i],
                    label: value.serie,
                    data: values,
                    tension: 0.5,
                    pointStyle: 'circle',
                    pointRadius: 0,
                    fill: false
                });
            }
        });
        
        if (type == 'bar' || type == 'hbar') {

            var maxValue = Math.max(...dataArray);

            if (chart.config.options.indexAxis == 'x') {
                if (maxValue <= 1) {
                    chart.config.options.scales.y.max = maxValue * 1.2;
                } else {
                    chart.config.options.scales.y.max = Math.ceil(maxValue * 1.2);
                }              
            } else {
                if (maxValue <= 1) {
                    chart.config.options.scales.x.max = maxValue * 1.2;
                } else {
                    chart.config.options.scales.x.max = Math.ceil(maxValue * 1.2);
                }
            }
        }

        chart.update();
    }

    var id = guidGenerator();
    var e = document.getElementById("temp");
    e.id = id;

    var chartType = "{{ include.type }}";

    if (chartType == "hbar") {
        e.setAttribute("height", '640');
    }
    
    fetchJSONFile("/{{ include.data_file }}", id, "{{ include.type }}", createChart);
</script>