{% assign posts = 0 %}
{% assign reviews = 0 %}
{% for post in site.posts %}
{% for page_author in post.authors %}
{% if page_author == include.name %}
{% assign posts = posts | plus: 1 %}
{% endif %}
{% endfor %}

{% for page_reviewer in post.reviewers %}
{% if page_reviewer == include.name %}
{% assign reviews = reviews | plus: 1 %}
{% endif %}
{% endfor %}
{% endfor %}

<br>

<h3>Stats</h3>
<table>
    <tr>
        <th>Posts</th>
        <th>Reviews</th>
    </tr>
    <tr>
        <td>{{ posts }}</td>
        <td>{{ reviews }}</td>
    </tr>

</table>

<h3>Posts</h3>
<table>
    <tr>
        <th>Date</th>
        <th>Post</th>
    </tr>

    {% for post in site.posts %}

    {% for page_author in post.authors %}
    {% if page_author == include.name %}

    <tr>
        <td><time class="post-date" datetime="{{ post.date | date:" %Y-%m-%d" }}">{{ post.date | date_to_string
                }}</time></td>
        <td><a href="{{ site.url }}{{ post.url }}">{{ post.title}}</a></td>
    </tr>

    {% endif %}
    {% endfor %}


    {% endfor %}
</table>