<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="grid-item">
<div class="card">
    <a href="{{ site.url }}{{ post.url | relative_url }}">
        {% if post.image %} <img class="img-fluid" src="{{ site.url }}{{ post.image | relative_url }}" alt="{{ post.title }}"> {% endif %}
    </a>
    <div class="card-block">
        <h2 class="card-title"><div class="post-title"><a href="{{ site.url }}{{ post.url | relative_url }}">{{ post.title }}</a><div></h2>
        <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:50 }}</h4>
        <div class="metafooter">
            <div class="wrapfooter">
                {% if post.authors %}
                <span class="meta-footer-thumb"></span>
                {% for post_author in post.authors %}

                {% assign author = site.authors[post_author] %}
                
                <img class="author-thumb" style="margin-top: -30px;" src="{{ site.url }}{{ author.picture | relative_url }}" alt="{{ author.display_name }}">
                </span>                
                <span class="author-meta" style="margin-right: 15px;">
                <span class="post-name">{{ author.display_name }}</span><br/>
                <span class="post-date">{{ post.date | date_to_string }}</span> 
                
                </span>
                
                {% endfor %}
                {% endif %}
                
                <span class="post-read-more"><a href="{{ site.url }}{{ post | relative_url }}"><button type="button" class="btn btn-primary" style="float: right;"><b>read more ></b></button></a></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end post -->