---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

	<div class="row">

		<!-- Post -->               
		<div class="col-sm-8">

			<div class="mainheading"> 
                
                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1> 
                
			</div>


            <!-- Post Date -->
            <p>
                <small>
                    <span class="post-date" style="float: left"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                    {% if page.authors %}
                    {% for page_author in page.authors %}
                    {% assign author = site.authors[page_author] %}
                        <a href="{{site.baseurl}}/members/{{author.page}}" title="{{author.display_name}}">
                            <img src="{{site.baseurl}}/{{author.picture}}"  class="post-author-image"></img>
                        </a>
                    {% endfor %}
                    {% endif %}
                    </span>
                             
                    {% if page.last_modified_at %}
                    (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                    {% endif %}
                </small>
            </p>

			<!-- Post Featured Image -->
			{% if page.image %}<img class="featured-image img-fluid" style="width:100%" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">{% endif %}
			<!-- End Featured Image -->

			<!-- Post Content -->
			<div class="article-post">
                <h2>Table of Content</h2>
                {% include toc.html html=content %}
				{{content}}
                <div class="clearfix"></div>
			</div>

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>
            
            <!-- Post Categories -->
            <div class="after-post-tags">
                    <ul class="tags">

                        {% assign sortedTags = page.tags | sort %}

                            {% for tag in sortedTags %}

                            {% if tag != "posts" and tag != "events" %}

                                <li>

                                    <div class="tag">{{ tag }}</div>
                                    
                                </li>

                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
                <!-- End Categories -->
                        
            <!-- share -->
            <!-- {% include share.html %} -->

            <!-- share -->
             <!-- Author Box -->
                {% if page.authors %}	
                    {% for page_author in page.authors %}

                        {% assign author = site.authors[page_author] %}
                        
                        <div class="row post-top-meta" >
                            <div class="author-box">

                                <!-- image -->
                                <div class="author-box-picture">
                                    <img class="author-box-picture-image" src="{{ site.baseurl }}/{{ author.picture }}" alt="{{ author.display_name }}">
                                </div>

                                <!-- name -->
                                <div class="author-box-name">
                                    {{ author.display_name }}
                                </div>
                                
                                <!-- description -->
                                <div class="author-box-description">
                                    {{ author.description }}
                                </div>

                                <div class="author-box-clearfix"> </div>

                                <div class="author-box-socials">
                                    {% if author.linkedin %}
                                    <a href="{{author.linkedin}}" target="_blank"><img class="author-box-socials-icon" src="{{ site.baseurl }}/assets/images/social/027-linkedin.png" alt="linkedin"></a>
                                    {% endif %}
            
                                    {% if author.twitter %}
                                    <a href="{{author.twitter}}" target="_blank"><img class="author-box-socials-icon" src="{{ site.baseurl }}/assets/images/social/008-twitter.png" alt="twitter"></a>
                                    {% endif %}
            
                                    {% if author.web %}
                                    <a href="{{author.web}}" target="_blank"><img class="author-box-socials-icon" src="{{ site.baseurl }}/assets/images/social/030-html-5.png" alt="website"></a>
                                    {% endif %}
            
                                    {% if author.github %}
                                    <a href="{{author.github}}" target="_blank"><img class="author-box-socials-icon" src="{{ site.baseurl }}/assets/images/social/050-github.png" alt="github"></a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}				
                {% endif %}
            
            <!-- Begin Comments
            ================================================== -->
            <section>
            <div id="comments">                          
                {% include disqus.html %} 
            </div>
            </section>
            <!--End Comments
            ================================================== -->
            
		</div>
		<!-- End Post -->
        
        <!-- Sidebar -->
        <div class="col-sm-4">
            {% include sidebar.html %}
        </div>

	</div>

<!-- End Article
================================================== -->